.navbar {
  margin-top: 50px;

}
.block {
  float: left;
}

.logo {
  text-decoration: none;
  color: black;
  margin-left: 100px;
}

.maintabs {
  display: inline-block;

  margin-left: 100px;
}

.tabs {
  /* float: left; */
  list-style-type: none;
  display: contents;


  /* overflow: hidden; */
}

.subtabs {
  list-style-type: none;
}
.name {
  float: left;
  margin-left: 100px;
}

.deco {
  text-decoration: none;
  color: black;
}

.profile {
  float: right;
  margin-right: 100px;
  color: black;
}